$white: #fff;
$black: #222; // off black

$ubc-primary-blue: #002145;
$ubc-secondary-blue-1: #0055B7;
$ubc-secondary-blue-2: #00A7E1;
$ubc-secondary-blue-3: #40B4E5;
$ubc-secondary-blue-4: #6EC4E8;
$ubc-secondary-blue-5: #97D4E9;

$theme: (
    "color-primary": $ubc-primary-blue,
    "color-secondary-1": $ubc-secondary-blue-1,
    "color-secondary-2": $ubc-secondary-blue-2
) !default;