$white: #fff;
$black: #222;
$light-gray: #e5e5e5;

$ubc-primary-blue: #002145;
$ubc-secondary-blue-1: #0055B7;
$ubc-secondary-blue-2: #00A7E1;
$ubc-tertiary-blue-1: #40B4E5;
$ubc-tertiary-blue-2: #6EC4E8;
$ubc-tertiary-blue-3: #97D4E9;

$colors-map: (
    "white": $white,
    "black": $black,
    "ubc-primary-blue": $ubc-primary-blue,
    "ubc-secondary-blue-1": $ubc-secondary-blue-1,
    "ubc-secondary-blue-2": $ubc-secondary-blue-2,
    "ubc-tertiary-blue-1": $ubc-tertiary-blue-1,
    "ubc-tertiary-blue-2": $ubc-tertiary-blue-2,
    "ubc-tertiary-blue-3": $ubc-tertiary-blue-3
);

//------ Typography Colors ------ // 

// Base Typography Color
$base-font-color: $black !default;

// Link Color
$base-link-color: $ubc-secondary-blue-1 !default;

// Heading Color
$heading-2-color: $ubc-secondary-blue-1 !default;

// Lead Text
$lead-text-color: $ubc-secondary-blue-1 !default;

// Blockquote Color
$blockquote-color: $ubc-secondary-blue-1 !default;

//------ Button Colors ------ // 

// Default Button
$button-default-background-color: $white !default;
$button-default-text-color: $ubc-primary-blue !default;
$button-default-border-color: $ubc-primary-blue !default;

// Primary Button
$button-primary-background-color: $ubc-primary-blue !default;
$button-primary-text-color: $white !default;
$button-primary-border-color: $ubc-primary-blue !default;

// Secondary Button
$button-secondary-background-color: $white !default;
$button-secondary-text-color: $ubc-secondary-blue-2 !default;
$button-secondary-border-color: $ubc-secondary-blue-2 !default;

// Inverse Button
$button-inverse-background-color: transparent !default;
$button-inverse-text-color: $white !default;
$button-inverse-border-color: $white !default;
$button-inverse-text-hover-color: $ubc-primary-blue !default;

//------ Accordion Colors ------ // 
$accordion-header-color: $ubc-primary-blue !default;
$accordion-header-icon-color: $ubc-primary-blue !default;
$accordion-border-color: $light-gray !default;