$white: #fff;
$black: #222;
$light-gray: #e5e5e5;

$ubc-primary-blue: #002145;
$ubc-secondary-blue-1: #0055b7;
$ubc-secondary-blue-2: #00a7e1;
$ubc-tertiary-blue-1: #40b4e5;
$ubc-tertiary-blue-2: #6ec4e8;
$ubc-tertiary-blue-3: #97d4e9;

$colors-map: (
  'white': $white,
  'black': $black,
  'ubc-primary-blue': $ubc-primary-blue,
  'ubc-secondary-blue-1': $ubc-secondary-blue-1,
  'ubc-secondary-blue-2': $ubc-secondary-blue-2,
  'ubc-tertiary-blue-1': $ubc-tertiary-blue-1,
  'ubc-tertiary-blue-2': $ubc-tertiary-blue-2,
  'ubc-tertiary-blue-3': $ubc-tertiary-blue-3,
);

//------ Typography Colors ------ //

// Base Typography Color
$base-font-color: $black !default;

// Link Color
$base-link-color: $ubc-secondary-blue-1 !default;

// Heading Color
$heading-color: $ubc-primary-blue !default;

// H2 Color
$heading-2-color: $ubc-secondary-blue-1 !default;

// Lead Text
$lead-text-color: $ubc-secondary-blue-1 !default;

// Blockquote Color
$blockquote-color: $ubc-secondary-blue-1 !default;

//------ Button Colors ------ //

// Default Button
$button-config: (
  'background': $white,
  'text': $ubc-primary-blue,
  'border': $ubc-primary-blue,
  'active': (
    'background': rgba(0, 33, 69, 0.86),
    'text': $white,
    'border': $ubc-primary-blue,
    'box-shadow': inset 0px 4px 8px rgba(0, 0, 0, 0.25)
  )
) !default;

// Primary Button
$button-primary-config: (
  'background': $ubc-primary-blue,
  'text': $white,
  'border': $ubc-primary-blue,
  'active': (
    'background': #FCFCFC,
    'text': $ubc-primary-blue,
    'border': $ubc-primary-blue,
    'box-shadow': (inset 4px 4px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 10px rgba(0, 0, 0, 0.1))
  )
) !default;

// Secondary Button
$button-secondary-config: (
  'background': $white,
  'text': $ubc-secondary-blue-2,
  'border': $ubc-secondary-blue-2,
  'active': (
    'background': $ubc-secondary-blue-2,
    'text': $white,
    'border': $ubc-secondary-blue-2,
    'box-shadow': inset 4px 4px 15px rgba(0, 0, 0, 0.25)
  )
) !default;

// Inverse Button
$button-inverse-config: (
  'background': transparent,
  'text': $white,
  'border': $white,
  'active': (
    'background': rgba($white, 0.95),
    'text': $black,
    'border': $ubc-primary-blue,
    'box-shadow': (inset 4px 4px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 10px rgba(0, 0, 0, 0.1))
  ),
  'text-inverse': $black
) !default;

//------ Blockquote colours ------ //
$blockquote-config: (
  'default': (
    'background': $ubc-primary-blue,
    'text': $white
  ),
  'inverse': (
    'background': transparent,
    'text': $ubc-primary-blue
  )
) !default;


//------ Accordion Colors ------ //
$accordion-header-color: $ubc-primary-blue !default;
$accordion-header-icon-color: $ubc-primary-blue !default;
$accordion-border-color: $light-gray !default;
$accordion-header-hover-color: $ubc-tertiary-blue-2 !default;
