/* Typography Variables */
$font-primary:'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;

$font-size-base: 16px;
$font-size-md: $font-size-base*1.25;
$font-size-lg: $font-size-base*1.5;
$font-size-gal: $font-size-base*1.125;

$font-weight-medium: 500;
 
$line-height-base: 24px;