// Typography Variables
$font-primary:'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif !default;

$font-size-base: 16px !default;

$font-light: 300 !default;
$font-book: 325 !default;
$font-medium: 350 !default;
$font-semi-bold: 600 !default;
$font-bold: 700 !default;
 
$line-height-base: 24px !default;

// $font-weights: ("regular": 400, "medium": 500, "bold": 700); // should we use a map for all of our font weights?