/* Blockquote Element Style */

blockquote {
  @include set-blockquote-colors(map-get($blockquote-config, 'default'));
  width: 430px;
  padding: 30px;
  border: none;

  p {
    font-weight: $font-bold;
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 0;
  }
}

.blockquote {
    &__quote {
      font-size: 1rem;
      font-weight: $font-semi-bold;
      margin-bottom: 50px;
    }
    &__quotee {
      font-size: 14px;
      font-weight: $font-light;
      line-height: 1.3rem;
      text-transform: uppercase;
      text-align: right;
    }

    &--inverse {
      @include set-blockquote-colors(map-get($blockquote-config, 'inverse'));
      .blockquote__quotee {
        text-align: left;
      }
    }
  }