/* Blockquote Element Style */
blockquote { 
    margin: 3.5em 0 3.5em;
    background: none;
    border: none;
    color: get-theme-color("color-secondary-1");
    font-weight: bold; // are we okay with the default weights?
    line-height: 1.3em;

    p {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        color: get-theme-color("color-secondary-1");
        font-weight: bold;
        line-height: 1.3em;
    }
}