/* Links Styles */
a {
    color: $base-link-color;
    
    &:hover {
     color:$base-link-color;
    }
}

a[rel="external"]::after{
    content: $sprite-icon-external;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}