/* List Element Styles */

.content {
    // we have to wrap this in the content area to prevent the nav bar from being affected
    
    li {
        @include min-break-point(mobile) {
            font-size: 1.05em;
        }

        font-size: 0.95em;
        line-height: 1.5em;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    ul {
        li {
            list-style-type: disc;
        }

        ul {
            li {
                list-style-type: circle;
                font-size: 0.9em;
                margin-bottom: 0;
            }
        }
    }
}