/* Paragraph Element Style */

p {
  margin-top: 1.1em;
  font-size: 1rem;
  font-weight: $font-weight-light;
  line-height: 1.8em; 
  
  @include min-break-point(tablet) {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
}

.lead {
  margin-top: 1.3em;
  margin-bottom: 20px;
  color: $lead-text-color;   
  font-size: 1.3rem;  
  font-weight: $font-weight-light; // what is weight 200?
  line-height: 1.95rem;

  @include min-break-point(tablet) {
    font-size: 1.8rem; 
    line-height: 2.52rem;
}
}