/* Paragraph Element Style */

p {
  @include min-break-point(mobile) {
    font-size: 1.1em;
    line-height: 1.9em;
  }
  margin-top: 1.3em;
  font-size: 1em;
  line-height: 1.8em;
}

.lead-text {
  @include min-break-point(mobile) {
      line-height: 1.5em;
  }

  margin-top: 1.3em;
  margin-bottom: 20px;
  color: $lead-text-color;   
  font-size: 1.3em;  
  font-weight: 200; // what is weight 200?
  line-height: 1.3em;
}