/* Accordion Styles */
$accordion-sprites-config: (
  'sprite-open': $sprite-icon-plus,
  'sprite-collapsed': $sprite-icon-minus
) !default;

.accordion {
  @include set-accordion-properties(map-merge($accordion-color-config, $accordion-sprites-config));

  margin-top: 1.25em;

  &-group {
    margin-bottom: 0;
  }

  &-heading &-toggle {
    padding-left: 0;
  }

  &-inner p {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
}