/* Accordion Styles */
.accordion {
  @include set-accordion-border-color($accordion-border-color);
  @include set-accordion-header-properties($accordion-header-color, $accordion-header-icon-color, $sprite-icon-plus, $sprite-icon-minus, $accordion-header-color);

  margin-top: 1.25em;

  &-group {
    margin-bottom: 0;
  }

  &-heading &-toggle {
    padding-left: 0;
  }

  &-inner p {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
}