/* Button Component Styles */
.button {
    display: inline-block;
    padding: 2% 7%;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid;
    
    @include set-button-colors(
        $button-default-background-color, 
        $button-default-text-color, 
        $button-default-border-color
    );

    &-primary {
        @include set-button-colors(
            $button-primary-background-color, 
            $button-primary-text-color, 
            $button-primary-border-color
        );
    }

    &-secondary {
        @include set-button-colors(
            $button-secondary-background-color, 
            $button-secondary-text-color, 
            $button-secondary-border-color
        );
    }

    &-inverse {
        @include set-button-colors(
            $button-inverse-background-color, 
            $button-inverse-text-color, 
            $button-inverse-border-color,
            $button-inverse-text-hover-color
        );
    }
}

