/* Button Component Styles */
.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 2% 7%;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    
    @include set-button-colors(
        $button-config
    );

    &-primary {
        @include set-button-colors(
            $button-primary-config
        );
    }

    &-secondary {
        @include set-button-colors(
            $button-secondary-config
        );
    }

    &-inverse {
        @include set-button-colors(
            $button-inverse-config
        );
    }
}

