// Helpers for configuring accordion component

// Configures the accordion border properties
//
// Parameters
// $color-border: colour value
//
@mixin set-accordion-border-color($color-border) {
    &-group {
      border: none;
      border-bottom: 1px solid $color-border;
    }
  
    &-group:nth-child(1) {
      border-top: 1px solid $color-border;
    }
  
    &-inner {
      padding: 0 15px;
      border: none; // reset accordion borders
      border-top: 1px solid $color-border;
    }
  }
  
  // Configures the accordion-header properties
  //
  // Parameters
  // $color-header: colour value
  // $icon-color: color value
  // $icon-collapse: FontAwesome characer unicode
  // $icon-focus: FontAwesome characer unicode
  // $color-background-hover: (OPTIONAL) color value
  //
  @mixin set-accordion-header-properties($color-header, $icon-color, $icon-collapse, $icon-focus, $color-background-hover: unset) {
    &-heading {
      a {
        @include min-break-point(mobile) {
          font-size: 1.1em;
          line-height: 1.9em;
        }
    
        color: $color-header;
        text-decoration: none;
        line-height: 1.8em;
        padding-left: 0;
    
        &:hover, &:focus {
          color: $white;
          background: $color-background-hover;
  
          &::before{
            color: $white;
          }
        }
        
        &:active {
          color: $color-header;
          background: $white;
  
          &::before{
            color: $color-header;
          }
        }

        &::before {
          display: inline-block;
          font-family: 'FontAwesome';
          content: $icon-collapse;
          color: $icon-color;
          padding: 0 15px;
        }
      }
  
      .focus::before {
        content: $icon-focus;
      }
    
      .collapsed::before {
        content: $icon-collapse;
      }
    }
  }