// Helpers for configuring button component

// Local Mixin for setting button color attributes
@mixin set-button-attributes($background, $text, $border) {
  background-color: $background;
  color: $text;
  border-color: $border;
}

@mixin set-button-active-attributes($config) {
  $background: map-get($config, 'background');
  $text: map-get($config, 'text');
  $border: map-get($config, 'border');
  $boxShadow: map-get($config, 'box-shadow');

  background-color: $background;
  color: $text;
  border-color: $border;
  box-shadow: $boxShadow;
}

// Use this mixin to set button colors
@mixin set-button-colors($config) {
  $background: map-get($config, 'background');
  $text: map-get($config, 'text');
  $border: map-get($config, 'border');
  $inverse-text: map-get($config, 'text-inverse');
  $active-config: map-get($config, 'active');

  @include set-button-attributes($background, $text, $border);

  &:hover,
  &:focus {
    @if $inverse-text {
      @include set-button-attributes($background, $inverse-text, $inverse-text);
    } @else {
      @include set-button-attributes($text, $background, $border);
    }
  }

  &:active {
    @include set-button-active-attributes($active-config);
  }
}
