/* Mixins */

/* Break Point Mixin */
@mixin min-break-point($point) {
    @if $point == hd {
        @media only screen and (min-width: $break-hd) { @content; }
    }
    @else if $point == desktop {
        @media only screen and (min-width: $break-desktop) { @content; }
    }
    @else if $point == laptop {
        @media only screen and (min-width: $break-laptop) { @content; }
    }
    @else if $point == tablet {
        @media only screen and (min-width: $break-tablet)  { @content; }
    }
    @else if $point == mobile {
        @media only screen and (min-width: $break-mobile)  { @content; }
    }
}

@mixin color-modifiers($property: 'color') {
  @each $name, $hex in $colors-map {
    &-#{$name} {
      #{$property}: $hex;
    }
  }
}

/* Browser Mixin */
@mixin target-firefox {
    @at-root {
      @-moz-document url-prefix() {
        & {
          @content;
        }
      }
    }
  }
  
@mixin target-internet-explorer {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

/* Vendor Mixin */
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// Local Mixin for setting button color attributes
@mixin set-btn-attributes($color-background, $color-text, $color-border) {
  color: $color-text;
  background-color: $color-background;
  border-color: $color-border;
}

// Use this mixin to set button colors
@mixin set-btn-colors($color-background, $color-text, $color-border, $color-inverse-text:null) {
  @include set-btn-attributes($color-background, $color-text, $color-border);

  &:hover, 
  &:focus, 
  &:active {
    
    @if $color-inverse-text {
      // Set the background to the border color and text to inverse text color
      @include set-btn-attributes($color-border, $color-inverse-text, $color-border);
    } @else {
      // We are just inverting the text and background colors
      @include set-btn-attributes($color-text, $color-background, $color-border);
    }
    
  }
}


