// Set the padding default width to 770px centered
@media only screen and (min-width: 980px) {
    .entry-content>h1,
    .entry-content>h2,
    .entry-content>h3,
    .entry-content>h4,
    .entry-content>h5,
    .entry-content>a,
    .entry-content>p,
    .entry-content>figure,
    .entry-content>.wp-block-image,
    .entry-content>.wp-block-button,
    .entry-content>blockquote,
    .entry-content>.blockquote,
    .entry-content>ul,
    .entry-content>ol,
    .entry-content .wp-block-columns {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
    }
}