html {
    font-size: 100%; // for sue with REM units
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-family: $font-primary;
    font-size: $font-size-base;
    font-weight: $font-weight-normal; // should we include this in a map?
    line-height: $line-height-base;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
}